{% extends 'base.html' %}

{% block title %}Inicio | MovieHub{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if user.is_authenticated %}
    <!-- Vista mejorada para usuarios autenticados -->
    <div class="user-dashboard">
        <!-- Header personalizado con bienvenida -->
        <div class="section" style="background: linear-gradient(135deg, #7b1fa2, #9c27b0); padding: 40px 0;">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h3 class="white-text">Bienvenido de vuelta, {{ user.username }}!</h3>
                        <p class="white-text flow-text">Hemos seleccionado algunas películas para ti hoy</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Panel principal con estadísticas y acciones rápidas -->
        <div class="section white">
            <div class="container">
                <div class="row">
                    <!-- Panel izquierdo con estadísticas del usuario -->
                    <div class="col s12 m4">
                        <div class="card gradient-card z-depth-3">
                            <div class="card-content white-text">
                                <span class="card-title">Tu actividad</span>
                                <div class="divider"></div>
                                <div class="stat-item">
                                    <i class="material-icons left">movie</i>
                                    <span>Películas vistas: <b>24</b></span>
                                </div>
                                <div class="stat-item">
                                    <i class="material-icons left">star</i>
                                    <span>Reseñas escritas: <b>12</b></span>
                                </div>
                                <div class="stat-item">
                                    <i class="material-icons left">favorite</i>
                                    <span>Películas favoritas: <b>18</b></span>
                                </div>
                                <div class="stat-item">
                                    <i class="material-icons left">bookmark</i>
                                    <span>Lista de pendientes: <b>7</b></span>
                                </div>
                            </div>
                            <div class="card-action">
                                <a href="#" class="white-text">Ver historial completo</a>
                            </div>
                        </div>
                        
                        <!-- Acciones rápidas -->
                        <div class="collection with-header z-depth-2">
                            <div class="collection-header purple lighten-4"><h5>Acciones rápidas</h5></div>
                            <a href="#" class="collection-item waves-effect"><i class="material-icons left">add</i>Añadir película</a>
                            <a href="#" class="collection-item waves-effect"><i class="material-icons left">rate_review</i>Escribir reseña</a>
                            <a href="#" class="collection-item waves-effect"><i class="material-icons left">group</i>Encontrar amigos</a>
                            <a href="#" class="collection-item waves-effect"><i class="material-icons left">settings</i>Configurar perfil</a>
                        </div>
                    </div>
                    
                    <!-- Panel central con recomendaciones -->
                    <div class="col s12 m8">
                        <div class="card z-depth-2">
                            <div class="card-content">
                                <span class="card-title purple-text text-darken-2">
                                    <i class="material-icons left">thumb_up</i>Recomendado para ti
                                </span>
                                
                                <div class="divider"></div>
                                <br>
                                
                                <div class="row movie-recommendations">
                                    <!-- Película recomendada 1 -->
                                    <div class="col s12 m6">
                                        <div class="recommended-movie z-depth-1 hoverable">
                                            <div class="movie-poster">
                                                <img src="https://pics.filmaffinity.com/Dune-209834814-large.jpg" class="responsive-img">
                                                <div class="movie-overlay">
                                                    <div class="movie-rating amber-text">
                                                        <i class="material-icons tiny">star</i> 8.9
                                                    </div>
                                                    <div class="movie-actions">
                                                        <a href="#" class="btn-floating btn-small waves-effect waves-light red">
                                                            <i class="material-icons">favorite</i>
                                                        </a>
                                                        <a href="#" class="btn-floating btn-small waves-effect waves-light blue">
                                                            <i class="material-icons">bookmark</i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="movie-info">
                                                <h5>Dune</h5>
                                                <p class="truncate">Ciencia ficción, Aventura</p>
                                                <p class="match">95% coincidencia con tus gustos</p>
                                                <a href="#" class="btn waves-effect waves-light purple">Ver detalles</a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Película recomendada 2 -->
                                    <div class="col s12 m6">
                                        <div class="recommended-movie z-depth-1 hoverable">
                                            <div class="movie-poster">
                                                <img src="https://pics.filmaffinity.com/Oppenheimer-828933592-large.jpg" class="responsive-img">
                                                <div class="movie-overlay">
                                                    <div class="movie-rating amber-text">
                                                        <i class="material-icons tiny">star</i> 9.5
                                                    </div>
                                                    <div class="movie-actions">
                                                        <a href="#" class="btn-floating btn-small waves-effect waves-light red">
                                                            <i class="material-icons">favorite</i>
                                                        </a>
                                                        <a href="#" class="btn-floating btn-small waves-effect waves-light blue">
                                                            <i class="material-icons">bookmark</i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="movie-info">
                                                <h5>Oppenheimer</h5>
                                                <p class="truncate">Drama, Historia</p>
                                                <p class="match">87% coincidencia con tus gustos</p>
                                                <a href="#" class="btn waves-effect waves-light purple">Ver detalles</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <a href="#" class="purple-text">Ver todas las recomendaciones</a>
                            </div>
                        </div>
                        
                        <!-- Películas populares -->
                        <div class="card z-depth-2">
                            <div class="card-content">
                                <span class="card-title purple-text text-darken-2">
                                    <i class="material-icons left">trending_up</i>Tendencias esta semana
                                </span>
                                
                                <div class="divider"></div>
                                <br>
                                
                                <div class="trending-movies">
                                    <!-- Fila de películas populares -->
                                    <div class="row">
                                        <!-- Película 1 -->
                                        <div class="col s6 m3">
                                            <div class="trending-movie hoverable">
                                                <img src="https://m.media-amazon.com/images/M/MV5BNGIyYWMzNjktNDE3MC00YWQyLWEyMmEtN2ZmNzZhZDk3NGJlXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_.jpg" class="responsive-img z-depth-1">
                                                <p class="trending-title truncate">Poor Things</p>
                                            </div>
                                        </div>
                                        
                                        <!-- Película 2 -->
                                        <div class="col s6 m3">
                                            <div class="trending-movie hoverable">
                                                <img src="https://m.media-amazon.com/images/M/MV5BNjU3N2QxNzYtMjk1NC00MTc4LTk1NTQtMmUxNTljM2I0NDA5XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_.jpg" class="responsive-img z-depth-1">
                                                <p class="trending-title truncate">Barbie</p>
                                            </div>
                                        </div>
                                        
                                        <!-- Película 3 -->
                                        <div class="col s6 m3">
                                            <div class="trending-movie hoverable">
                                                <img src="https://via.placeholder.com/300x450?text=Pelicula+3" class="responsive-img z-depth-1">
                                                <p class="trending-title truncate">Título Película 3</p>
                                            </div>
                                        </div>
                                        
                                        <!-- Película 4 -->
                                        <div class="col s6 m3">
                                            <div class="trending-movie hoverable">
                                                <img src="https://via.placeholder.com/300x450?text=Pelicula+4" class="responsive-img z-depth-1">
                                                <p class="trending-title truncate">Título Película 4</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <a href="#" class="purple-text">Ver todas las tendencias</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Sección de actividad reciente de amigos -->
        <div class="section grey lighten-4">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h4 class="purple-text text-darken-2">Actividad de tu comunidad</h4>
                        <div class="divider"></div>
                    </div>
                </div>
                
                <!-- Timeline de actividad -->
                <div class="row">
                    <div class="col s12">
                        <ul class="activity-timeline">
                            <!-- Actividad 1 -->
                            <li class="activity-item">
                                <div class="activity-icon purple lighten-1 white-text">
                                    <i class="material-icons">star</i>
                                </div>
                                <div class="activity-content z-depth-1">
                                    <strong>María López</strong> calificó <a href="#">Oppenheimer</a> con 5 estrellas
                                    <span class="activity-time grey-text">hace 2 horas</span>
                                    <p class="activity-text">"Una obra maestra del cine. La dirección de Nolan es impecable."</p>
                                </div>
                            </li>
                            
                            <!-- Actividad 2 -->
                            <li class="activity-item">
                                <div class="activity-icon blue lighten-1 white-text">
                                    <i class="material-icons">bookmark</i>
                                </div>
                                <div class="activity-content z-depth-1">
                                    <strong>Carlos Ramírez</strong> añadió <a href="#">Dune</a> a su lista de pendientes
                                    <span class="activity-time grey-text">hace 5 horas</span>
                                </div>
                            </li>
                            
                            <!-- Actividad 3 -->
                            <li class="activity-item">
                                <div class="activity-icon red lighten-1 white-text">
                                    <i class="material-icons">favorite</i>
                                </div>
                                <div class="activity-content z-depth-1">
                                    <strong>Ana Martínez</strong> añadió <a href="#">Poor Things</a> a sus favoritos
                                    <span class="activity-time grey-text">hace 1 día</span>
                                    <p class="activity-text">"¡La cinematografía es extraordinaria! No puedo esperar a verla de nuevo."</p>
                                </div>
                            </li>
                        </ul>
                        
                        <div class="center-align" style="margin-top: 20px;">
                            <a href="#" class="btn waves-effect waves-light purple darken-2">Ver más actividad</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Estilos específicos para usuarios logueados -->
    <style>
        /* Estilos para la tarjeta con gradiente */
        .gradient-card {
            background: linear-gradient(45deg, #7b1fa2, #e91e63);
            border-radius: 8px;
        }
        
        .stat-item {
            margin: 15px 0;
            display: flex;
            align-items: center;
        }
        
        .stat-item i {
            margin-right: 10px;
        }
        
        /* Estilos para las películas recomendadas */
        .recommended-movie {
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            overflow: hidden;
            margin-bottom: 20px;
            height: 100%;
            background-color: #fff;
        }
        
        .movie-poster {
            position: relative;
            overflow: hidden;
        }
        
        .movie-poster img {
            transition: transform 0.3s ease;
            height: 250px;
            object-fit: cover;
        }
        
        .recommended-movie:hover .movie-poster img {
            transform: scale(1.05);
        }
        
        .movie-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: opacity 0.3s ease;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
        }
        
        .recommended-movie:hover .movie-overlay {
            opacity: 1;
        }
        
        .movie-rating {
            align-self: flex-start;
            background: rgba(0, 0, 0, 0.7);
            padding: 5px 8px;
            border-radius: 15px;
            display: flex;
            align-items: center;
        }
        
        .movie-actions {
            align-self: flex-end;
        }
        
        .movie-actions a {
            margin-left: 5px;
        }
        
        .movie-info {
            padding: 15px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
        
        .movie-info h5 {
            margin-top: 0;
            color: #7b1fa2;
        }
        
        .match {
            color: #4CAF50;
            font-weight: bold;
            margin-bottom: 15px;
        }
        
        .movie-info .btn {
            margin-top: auto;
        }
        
        /* Estilos para películas en tendencia */
        .trending-movie {
            margin-bottom: 15px;
            transition: transform 0.3s ease;
        }
        
        .trending-movie:hover {
            transform: translateY(-5px);
        }
        
        .trending-title {
            text-align: center;
            margin-top: 8px;
            font-weight: 500;
        }
        
        .trending-movie img {
            border-radius: 6px;
            height: 150px;
            width: 100%;
            object-fit: cover;
        }
        
        /* Estilos para timeline de actividad */
        .activity-timeline {
            position: relative;
            padding: 0;
            margin: 0;
            list-style: none;
        }
        
        .activity-timeline:before {
            content: '';
            position: absolute;
            top: 0;
            left: 20px;
            height: 100%;
            width: 3px;
            background: #e0e0e0;
            z-index: 0;
        }
        
        .activity-item {
            position: relative;
            margin-bottom: 25px;
            display: flex;
            align-items: flex-start;
        }
        
        .activity-icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            position: relative;
        }
        
        .activity-content {
            margin-left: 15px;
            background: white;
            padding: 15px;
            border-radius: 6px;
            flex-grow: 1;
            position: relative;
        }
        
        .activity-content:before {
            content: '';
            position: absolute;
            top: 15px;
            left: -8px;
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right: 8px solid white;
        }
        
        .activity-time {
            display: block;
            font-size: 0.8rem;
            margin: 5px 0;
        }
        
        .activity-text {
            margin: 10px 0 0;
            font-style: italic;
        }
    </style>
{% endif %}
{% else %}
    <!-- Vista mejorada para usuarios no autenticados con hero section de fondo blanco -->
    <div class="hero-section" style="background-color: #f2e5f4;">
        <div class="container">
            <div class="row valign-wrapper" style="min-height: 70vh;">
                <div class="col s12 m7">
                    <h1 class="header purple-text text-darken-2">MovieHub</h1>
                    <h3 class="flow-text">Tu destino para descubrir películas increíbles</h3>
                    <p class="flow-text">Recomendaciones personalizadas, reseñas y mucho más. Únete hoy y encuentra tu próxima película favorita.</p>
                    <div class="action-buttons">
                        <a href="{% url 'signin' %}" class="btn-large waves-effect waves-light purple darken-1 hoverable z-depth-2">
                            <i class="material-icons left">login</i>Iniciar Sesión
                        </a>
                        <a href="{% url 'signup' %}" class="btn-large waves-effect waves-light deep-purple lighten-1 hoverable z-depth-2" style="margin-left: 10px;">
                            <i class="material-icons left">person_add</i>Registrarse
                        </a>
                    </div>
                </div>
                <div class="col s12 m5 hide-on-small-only">
                    <div class="feature-image z-depth-3">
                        <img src="https://via.placeholder.com/500x400?text=Imagen+MovieHub" alt="MovieHub Feature" class="responsive-img" style="border-radius: 10px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Features section -->
    <div class="section white">
        <div class="container">
            <div class="row center">
                <h4 class="section-title purple-text text-darken-3">¿Por qué unirte a MovieHub?</h4>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="card-panel hoverable z-depth-1">
                        <div class="center">
                            <i class="material-icons medium purple-text">thumb_up</i>
                            <h5>Recomendaciones Personalizadas</h5>
                            <p>Algoritmo único que aprende de tus gustos para recomendarte películas que amarás.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card-panel hoverable z-depth-1">
                        <div class="center">
                            <i class="material-icons medium purple-text">favorite</i>
                            <h5>Guarda tus Favoritos</h5>
                            <p>Crea colecciones de películas favoritas y accede a ellas desde cualquier dispositivo.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card-panel hoverable z-depth-1">
                        <div class="center">
                            <i class="material-icons medium purple-text">rate_review</i>
                            <h5>Comparte tus Opiniones</h5>
                            <p>Escribe reseñas, califica películas y conecta con otros cinéfilos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Featured movies carousel with improved styling -->
    <div class="section" style="background-color: #f2e5f4; margin-bottom: 50px; padding-top: 20px;">
        <div class="container" style="max-width: 800px;">
            <div class="row" style="margin-bottom: 20px;">
                <h4 class="center-align purple-text text-darken-2">Películas Destacadas</h4>
                <p class="center-align">Descubre las películas más populares que puedes explorar al unirte</p>
            </div>
            <div class="carousel center-align" style="margin: 0 auto;">
                <a class="carousel-item movie-poster" href="#one!">
                    <div class="movie-card-container">
                        <div class="poster-container z-depth-2">
                            <img src="https://pics.filmaffinity.com/Oppenheimer-828933592-large.jpg" alt="Oppenheimer">
                        </div>
                        <div class="poster-info">
                            <h5>Oppenheimer</h5>
                            <div class="rating amber-text">★★★★★ 9.5/10</div>
                        </div>
                    </div>
                </a>
                <a class="carousel-item movie-poster" href="#two!">
                    <div class="movie-card-container">
                        <div class="poster-container z-depth-2">
                            <img src="https://m.media-amazon.com/images/M/MV5BNjU3N2QxNzYtMjk1NC00MTc4LTk1NTQtMmUxNTljM2I0NDA5XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_.jpg" alt="Barbie" onerror="this.onerror=null;this.src='https://via.placeholder.com/300x450?text=Barbie';">
                        </div>
                        <div class="poster-info">
                            <h5>Barbie</h5>
                            <div class="rating amber-text">★★★★☆ 8.7/10</div>
                        </div>
                    </div>
                </a>
                <a class="carousel-item movie-poster" href="#three!">
                    <div class="movie-card-container">
                        <div class="poster-container z-depth-2">
                            <img src="https://pics.filmaffinity.com/Dune-209834814-large.jpg" alt="Dune">
                        </div>
                        <div class="poster-info">
                            <h5>Dune</h5>
                            <div class="rating amber-text">★★★★☆ 8.9/10</div>
                        </div>
                    </div>
                </a>
                <a class="carousel-item movie-poster" href="#four!">
                    <div class="movie-card-container">
                        <div class="poster-container z-depth-2">
                            <img src="https://m.media-amazon.com/images/M/MV5BNGIyYWMzNjktNDE3MC00YWQyLWEyMmEtN2ZmNzZhZDk3NGJlXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_.jpg" alt="Poor Things" onerror="this.onerror=null;this.src='https://via.placeholder.com/300x450?text=Poor+Things';">
                        </div>
                        <div class="poster-info">
                            <h5>Poor Things</h5>
                            <div class="rating amber-text">★★★★☆ 8.8/10</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Testimonials section -->
    <div class="section white" style="padding-top: 50px; margin-top: 50px;">
        <div class="container">
            <div class="row center">
                <h4 class="purple-text text-darken-2">Lo que dicen nuestros usuarios</h4>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="card-panel grey lighten-5 z-depth-1">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <img src="https://via.placeholder.com/60x60?text=U" alt="" class="circle responsive-img">
                            </div>
                            <div class="col s9">
                                <span class="black-text">
                                    "MovieHub me ha ayudado a descubrir joyas del cine que nunca hubiera encontrado por mi cuenta."
                                </span>
                                <p class="purple-text">- Laura M.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card-panel grey lighten-5 z-depth-1">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <img src="https://via.placeholder.com/60x60?text=U" alt="" class="circle responsive-img">
                            </div>
                            <div class="col s9">
                                <span class="black-text">
                                    "Las recomendaciones son increíblemente precisas. ¡Cada fin de semana tengo una nueva película para ver!"
                                </span>
                                <p class="purple-text">- Carlos P.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card-panel grey lighten-5 z-depth-1">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <img src="https://via.placeholder.com/60x60?text=U" alt="" class="circle responsive-img">
                            </div>
                            <div class="col s9">
                                <span class="black-text">
                                    "La comunidad de MovieHub es genial. He conocido personas con mis mismos gustos cinematográficos."
                                </span>
                                <p class="purple-text">- Marta T.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Call to action -->
    <div class="section purple darken-3 white-text center">
        <div class="container">
            <h4>¿Listo para descubrir tu próxima película favorita?</h4>
            <p class="flow-text">Únete a miles de usuarios que ya disfrutan de MovieHub</p>
            <a href="{% url 'signup' %}" class="btn-large waves-effect waves-light pink accent-2 pulse hoverable z-depth-2">
                <i class="material-icons left">movie_filter</i>Comenzar Ahora - ¡Es Gratis!
            </a>
        </div>
    </div>

    <!-- Scripts para el carousel mejorado -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Inicializar carousel con 4 elementos visibles
            var carousel = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(carousel, {
                dist: 0,
                padding: 10,
                numVisible: 4, // Mostrar 4 películas visibles
                indicators: true,
                duration: 200
            });

            // Auto-rotar el carrusel
            setInterval(function() {
                var el = document.querySelector('.carousel');
                var instance = M.Carousel.getInstance(el);
                instance.next();
            }, 5000);
        });
    </script>

    <style>
        /* Estilos adicionales para mejorar la apariencia */
        .hero-section {
            padding: 50px 0;
            border-bottom: 1px solid #e0e0e0;
        }
        
        .header {
            font-weight: 500;
            margin-bottom: 20px;
        }
        
        .action-buttons {
            margin-top: 30px;
        }
        
        .section-title {
            margin-bottom: 40px;
            font-weight: 300;
        }
        
        .feature-image {
            border: 5px solid #f5f5f5;
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
        }
        
        /* Ajustes para el carrusel */
        .carousel {
            height: 400px !important; /* Reducir la altura del carrusel */
            perspective: 1000px;
            overflow: visible;
            margin-bottom: 20px; /* Reducir el espaciado inferior */
        }

        .carousel .carousel-item {
            width: 250px !important; /* Reducir el ancho de los elementos */
            opacity: 1 !important;
        }

        .movie-card-container {
            width: 250px; /* Ajustar el ancho del contenedor */
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .poster-container {
            width: 250px; /* Ajustar el ancho del póster */
            height: 375px; /* Mantener proporción 2:3 */
            border-radius: 8px;
            overflow: hidden;
            transition: transform 0.3s ease;
        }

        .poster-container:hover {
            transform: scale(1.05);
        }

        .poster-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }

        .poster-info {
            width: 100%;
            padding: 10px;
            text-align: center;
        }

        .poster-info h5 {
            margin: 5px 0;
            color: #7b1fa2;
            font-weight: 500;
        }

        .rating {
            margin-top: 5px;
            font-weight: bold;
        }
        
        /* Añadir efecto hover a las tarjetas */
        .card.hoverable:hover {
            transform: translateY(-5px);
            transition: transform 0.3s ease;
        }
    </style>
{% endif %}
{% endblock %}